body{
    background-color: #000;
}

.flex-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #222;
    margin: 80px 50px;
    padding: 20px;
    border: 12px solid #000;
    outline: 3px solid #094;
}

.form{
    min-width: 300px;
    flex: 1;
    text-align: center;
    padding: 30px;
    order: 5;
}

.form__input{
    width: 100%;
    padding: 7px;
    margin: 6px 0;
    border: none;
    border-bottom: 3px solid #094;
    background-color: transparent;
    color: #fff;
}



.form__input:focus {
   background: linear-gradient(to bottom, transparent, #111);
   outline: none;
   border-bottom: 3px solid #072;
}

.img-container{
    margin: auto;
}
.form-img img{
    width: 100%;
    margin: auto;
    padding: 10px;
}

.form-img div{
    padding: 10px;
}

.form textarea{
    min-height:140px ;
    resize: none;
}

.img-container div{
    background-color: #094;
    border-radius: 50%;
    text-align: center;
    padding: 40px;
}


.form-img{
    flex: 1;
    padding: 10px;
    display: flex;
    min-width: 250px ;
    max-width: 400px ;
    order: 2;
}

.form input[type="submit"]{
    background-color: #094;
    border-bottom: none;
    padding: 12px;
}

.form input[type="submit"]:hover {
    background-color: #072;
}

.form input[type="submit"]:focus {
    background-color: #094;
}

.form input[type="submit"]:active {
    background-color: linear-gradient(to bottom, #074, #050);
}


.nav{
    margin: -80px 0;
}

footer{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: -40px;
}


footer h3{
    color: #fff;
    border-bottom: 1px solid #ccc;
}

.contenedor_redes img{
    height: 35px;
}

.tiktok img {
    height: 29px;
    margin-bottom: 3px;
}
